body {
     background-image: url(http://gta-trinity.ru/forum/uploads/profile/photo-93332.jpg?_r=1504638702)
}

header {
     font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
     text-align: center;
     font-size: 40pt;
     color: white;
}

#root {
     font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
     text-align:  left;
     font-size: 20pt;
     color: white;
}
