body {
     /*background-image: url(http://gta-trinity.ru/forum/uploads/profile/photo-93332.jpg?_r=1504638702);*/
     /*background-image: url(https://i.ytimg.com/vi/PA3Hq4Y7AgE/maxresdefault.jpg);*/
     background-image: url(https://i.imgur.com/uO4jLAr.jpg);
     background-size: cover;
     background-color: black;
     background-repeat: no-repeat;
}


header {
     font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
     text-align: center;
     font-size: 40pt;
     text-align: left;
     margin-left: 60pt;
     color: white;
}

.about {
     font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
     text-align:  left;
     font-size: 16pt;
     color: white;
}

.experience {
     font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
     font-size: 16pt;
     color: white;
}

.contacts {
     font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
     font-size: 30pt;
     color: white;
}
